<a href="https://colab.research.google.com/github/Raghnus/coding-dojo/blob/main/Track3/EjercicioSQL2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# montar datos
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# cargar datos: ¡cambia la ruta para que coincida con tu unidad!
school = pd.read_csv('/content/drive/MyDrive/PTCienciaDatos/SQL/School_Details.csv')
# Asegúrate de que estén cargados correctamente
school.head(2)

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.

In [19]:
# cargar datos: ¡cambia la ruta para que coincida con tu unidad!
facility = pd.read_csv('/content/drive/MyDrive/PTCienciaDatos/SQL/School_Facility_Details.csv')
# Asegúrate de que estén cargados correctamente
facility.head(2)

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.

In [4]:
# crear motor sqlite
engine = create_engine('sqlite:///school.db', echo=True)
# crear conexión con el motor
conn = engine.connect()

In [5]:
# agregar marco de datos como una tabla en sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

2022-03-28 22:42:47,423 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-03-28 22:42:47,425 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 22:42:47,427 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-03-28 22:42:47,429 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 22:42:47,439 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-03-28 22:42:47,440 INFO sqlalchemy.engine.Engine [no key 0.00122s] ()
2022-03-28 22:42:47,450 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 22:42:47,451 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-03-28 22:42:47,452 INFO sqlalchemy.engine.Engine [no key 0.00117s] ()
2022-03-28 22:42:47,461 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 22:42:47,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-28 22:42:47,576 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-28 22:42:47,580 INFO sqlalchemy.engine.Engine [generated in 0.10046s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-03-28 22:42:47,599 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
# agregar marco de datos como una tabla en sqlite
sqlite_table_2= "school_facility"
facility.to_sql(sqlite_table_2, conn, if_exists='fail')

2022-03-28 23:03:23,292 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility")
2022-03-28 23:03:23,295 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 23:03:23,299 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility")
2022-03-28 23:03:23,301 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 23:03:23,309 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-03-28 23:03:23,311 INFO sqlalchemy.engine.Engine [no key 0.00142s] ()
2022-03-28 23:03:23,321 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 23:03:23,322 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_index ON school_facility ("index")
2022-03-28 23:03:23,325 INFO sqlalchemy.engine.Engine [no key 0.00228s] ()
2022-03-28 23:03:23,334 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 23:03:23,339 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-28 23:03:23,425 INFO sqlalchemy.engine.Engine INSERT INTO school_facility ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-28 23:03:23,427 INFO sqlalchemy.engine.Engine [generated in 0.02474s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-03-28 23:03:23,439 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
sql = """
select avg("BACDistance (in Km)") as "avg_bac_distancia"
from school_details
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 22:57:12,066 INFO sqlalchemy.engine.Engine
select avg("BACDistance (in Km)") as "avg_bac_distancia"
from school_details

2022-03-28 22:57:12,068 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distancia
0          12.681822

In [17]:
sql = """
select avg("BACDistance (in Km)") as "avg_bac_distancia"
from school_details
group by SchoolLevel
order by "avg_bac_distancia" desc
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 22:58:40,858 INFO sqlalchemy.engine.Engine
select avg("BACDistance (in Km)") as "avg_bac_distancia"
from school_details
group by SchoolLevel
order by "avg_bac_distancia" desc

2022-03-28 22:58:40,864 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distancia
0          13.692647
1          12.830787
2          12.630872
3          10.863095
4           5.368421

In [18]:
sql = """
select avg("BACDistance (in Km)") as "avg_bac_distancia"
from school_details
group by SchoolLevel
having "avg_bac_distancia" < 10
order by "avg_bac_distancia" desc

"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 22:59:44,666 INFO sqlalchemy.engine.Engine
select avg("BACDistance (in Km)") as "avg_bac_distancia"
from school_details
group by SchoolLevel
having "avg_bac_distancia" < 10
order by "avg_bac_distancia" desc


2022-03-28 22:59:44,668 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distancia
0           5.368421

In [21]:
sql = """
select *
from school_details s INNER JOIN school_facility f
limit 2

"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 23:05:58,518 INFO sqlalchemy.engine.Engine
select *
from school_details s INNER JOIN school_facility f
limit 2


2022-03-28 23:05:58,522 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available

In [33]:
sql = """
select s.EstablishmentName
from school_details s INNER JOIN school_facility f
where s.SchoolLevel LIKE "PS" and f.IsLibraryAvailable like "Available"
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df

2022-03-28 23:14:37,760 INFO sqlalchemy.engine.Engine
select s.EstablishmentName
from school_details s INNER JOIN school_facility f
where s.SchoolLevel LIKE "PS" and f.IsLibraryAvailable like "Available"

2022-03-28 23:14:37,762 INFO sqlalchemy.engine.Engine [raw sql] ()

                           EstablishmentName
0       BUDANG GOVERNMENT PRIMARY SCHOOL (E)
1       BUDANG GOVERNMENT PRIMARY SCHOOL (E)
2       BUDANG GOVERNMENT PRIMARY SCHOOL (E)
3       BUDANG GOVERNMENT PRIMARY SCHOOL (E)
4       BUDANG GOVERNMENT PRIMARY SCHOOL (E)
...                                      ...
349880       TSONG GOVERNMENT PRIMARY SCHOOL
349881       TSONG GOVERNMENT PRIMARY SCHOOL
349882       TSONG GOVERNMENT PRIMARY SCHOOL
349883       TSONG GOVERNMENT PRIMARY SCHOOL
349884       TSONG GOVERNMENT PRIMARY SCHOOL

[349885 rows x 1 columns]

In [32]:
sql = """
select s.EstablishmentName
from school_details s INNER JOIN school_facility f
where s.SchoolLevel LIKE "PS" and f.IsLibraryAvailable like "Available"
order by s.EstablishmentName desc
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df

2022-03-28 23:14:25,333 INFO sqlalchemy.engine.Engine
select s.EstablishmentName
from school_details s INNER JOIN school_facility f
where s.SchoolLevel LIKE "PS" and f.IsLibraryAvailable like "Available"
order by s.EstablishmentName desc

2022-03-28 23:14:25,340 INFO sqlalchemy.engine.Engine [raw sql] ()

                                        EstablishmentName
0                        ZULUCK GOVERNMENT PRIMARY SCHOOL
1                        ZULUCK GOVERNMENT PRIMARY SCHOOL
2                        ZULUCK GOVERNMENT PRIMARY SCHOOL
3                        ZULUCK GOVERNMENT PRIMARY SCHOOL
4                        ZULUCK GOVERNMENT PRIMARY SCHOOL
...                                                   ...
349880  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...
349881  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...
349882  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...
349883  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...
349884  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...

[349885 rows x 1 columns]